h5 {
    font-size: 30px;
    font-weight: 700;
}

hr {
    border-top: 2px solid #343B3F;
}

/* Filter */
.filterTable {
    background: transparent;
    border: 1px solid #343B3F;
    border-radius: 5px;
    border-collapse: separate;
    margin-bottom: 30px !important;
}

.filterTable .form-control {
    font-weight: 500;
    border: 1px solid rgba(51, 51, 51, 0.31);
    border-radius: 5px;
    background: transparent;
    margin-bottom: 10px;
}

.filterTitle {
    font-size: 15px;
    font-weight: 500;
}

.filterTable td,th {
    padding: 5px 10px;
}

/*Table*/
.statTable {
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
}

.form-control {
    border-radius: 5px;
}

.dt-buttons{
    margin-bottom: 20px;
}

/*div.dataTables_wrapper div.dataTables_filter {*/
/*    position: absolute;*/
/*    right: 50px;*/
/*}*/

.table__title {
    background: rgba(51, 51, 51, 0.11);
    border-right: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
}

.table__title:last-child {
    border-right: none !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid rgba(51, 51, 51, 0.45);
}

/* Page */
.container-main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 500px;
    min-height: 250px;

    background: #343B3F;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

.main__text {
    font-size: 20px;
    font-weight: 700;
}

.main__img {
    width: 100px;
    height: 100px;

}


/* Header */
.skin-blue .main-header .logo {
    background-color: #212529;
}

.skin-blue .main-header .logo:hover {
    background-color: #1f2327;
}

.skin-blue .main-header li.user-header {
    background-color: #343B3F;
}

.skin-blue .main-header .navbar {
    background-color: #343B3F;
}

.user-panel>.info {
    padding: 8px 0px;
    font-weight: 700;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right){
    width: auto;
    min-width: 180px;
    padding-right: 20px;
}

/* Footer */

.main-footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

/* User section */
.navbar-nav>.user-menu>.dropdown-menu {
    min-width: 100px;
    width: 100px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
    color:#fff;
    padding: 0;
    text-align: center;
}

.dropdown-menu>li>a {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.dropdown-menu>li>a:hover {
    background-color: #5a6266;
    color: #fff;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    margin-right: 5px;
    margin-top: 5px;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.navbar-nav>.user-menu>.dropdown-menu {
    padding: 0px;
    margin-top: 5px;
    border: 1px solid #40474b;
    border-radius: 4px;
}

.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        position: absolute;
        border: none;
        right: 0px;

    }
}

@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: #5a6266;
    }

    .navbar-nav .open .dropdown-menu>li>a {
        padding: 10px 5px 10px 5px;
    }
}


